

<section>
    <div class="container">
        <div class="row ">
            <a href="/admin/add-product" class="btn btn-success ml-auto mb-2 mt-2">Add products</a>
        </div>
        <table class="table " id="product">
  <thead>
    <tr>
      <th scope="col">NO</th>
      <th scope="col">title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">desctioirn</th>
      <th scope="col">image</th>
      <th scope="col">option</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.price}}</td>
      <td>{{this.Description}}</td>
      <td><img style="width:50px; height:50px" src="product-image/{{this._id}}.jpg" alt="Card image cap"></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"onclick="return confirm('Are you Want to delete {{this.name}} ?')">Delete</a>    
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>


<script>
   $(document).ready(function() {
    $('#product').DataTable()

})
</script>

